* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #F0F8FF;
  --player-color: chartreuse;
  --field-size: 4;
  --card-width: 120px;
  --color-green: #5A5;
  --color-red: #F55;
  --color-yellow: #FA0;
  --color-blue: #55F;
  --current-color: aliceblue;
  --inverted-color: white;
}

html, body { height: 100%; }

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20em;
  margin: 1em;
  font: 1.8rem/1.4 Georgia, serif;
}

blockquote::before { content: open-quote; }

blockquote::after { content: close-quote; }

blockquote { quotes: "“" "”" "‘" "’"; }

.qrcode.big {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  width: 100%;
}

.qrcode {
  width: 300px;
  margin: auto;
}

.hidden { display: none; }

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 70%);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 400ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover { color: var(--player-color); }

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.transparent { opacity: 0; }

.absolute { position: absolute; }

.above {
  z-index: 1;
  transform: translateZ(10px);
}

.slide { transform: translate(calc(1px * var(--dx)), calc(1px * var(--dy))); }
